<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Moja strona</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Witaj na mojej stornie internetowej </h1>
<img src="jhend.jfif" alt="Jimmy">
<h2>Kotakt</h2>
<ul>
    <li>e-mail - małpa@małpa.pl</li>
    <li>telefon - 12345600</li>
</ul>
<form action="..." onsubmit="alert(this.name.value); return false">
    <textarea name="nazwa" cols="x" rows="y">Wpisz krótką wiadomość</textarea>
<input type="submit" value="WYŚLIJ">
</form>
<a href="index.html">powrót</a>
</body>
</html>